# UCK 358E – Introduction to Artificial Intelligence 
## Homework 1
## Deadline: April 07, 2024

#### Name: 
#### Student Number:

### In this homework, you will focus on predicting type of trees in a forest. There are 7 different tree types in the dataset, the label is named as "Cover_Type" and you will train models to predict the correct type for the test data. Each section below contains clear explanations about the tasks. It is not required to write a separate report for the homework. Make all of your explanations and discussions inside the Jupiter Notebook. Use the Notebook as your report. Be aware that If you deliver a Notebook containing only codes without explanation and discussion, you will lose majority of your points.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

## import any library that you will use

# Load Data (don't change anything in this part, just run it)

In [2]:
df = pd.read_csv("datasetHW.csv")
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [3]:
df.columns

Index(['Id', 'Elevation', 'Aspect', 'Slope',
       'Horizontal_Distance_To_Hydrology', 'Vertical_Distance_To_Hydrology',
       'Horizontal_Distance_To_Roadways', 'Hillshade_9am', 'Hillshade_Noon',
       'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points',
       'Wilderness_Area1', 'Wilderness_Area2', 'Wilderness_Area3',
       'Wilderness_Area4', 'Soil_Type1', 'Soil_Type2', 'Soil_Type3',
       'Soil_Type4', 'Soil_Type5', 'Soil_Type6', 'Soil_Type7', 'Soil_Type8',
       'Soil_Type9', 'Soil_Type10', 'Soil_Type11', 'Soil_Type12',
       'Soil_Type13', 'Soil_Type14', 'Soil_Type15', 'Soil_Type16',
       'Soil_Type17', 'Soil_Type18', 'Soil_Type19', 'Soil_Type20',
       'Soil_Type21', 'Soil_Type22', 'Soil_Type23', 'Soil_Type24',
       'Soil_Type25', 'Soil_Type26', 'Soil_Type27', 'Soil_Type28',
       'Soil_Type29', 'Soil_Type30', 'Soil_Type31', 'Soil_Type32',
       'Soil_Type33', 'Soil_Type34', 'Soil_Type35', 'Soil_Type36',
       'Soil_Type37', 'Soil_Type38', 'Soil_Type39', 'Soil_Type40',
       'Cover_Type'],
      dtype='object')

In [4]:
df_new = df[["Elevation", "Hillshade_9am", "Horizontal_Distance_To_Hydrology", "Horizontal_Distance_To_Fire_Points", "Cover_Type"]]
X = df_new.drop(["Cover_Type" ], axis=1)
y = df_new[["Cover_Type"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) # don't change random state

In [5]:
X_train

,Elevation,Hillshade_9am,Horizontal_Distance_To_Hydrology,Horizontal_Distance_To_Fire_Points
765,2916,202,67,1507
5927,2356,247,210,1050
14032,2977,195,696,878
6187,2415,131,108,638
3872,2299,167,497,1159
...,...,...,...,...
5191,2189,254,0,525
13418,2317,229,0,560
5390,2962,237,95,470
860,2898,204,30,1552
7270,3374,229,192,1655

In [6]:
filter_col = [col for col in df if col.startswith('Soil_Type')]
X2 = df[filter_col]
y2 = df[["Cover_Type"]]

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.3, random_state=42) # don't change random state

In [7]:
X_train2

,Soil_Type1,Soil_Type2,Soil_Type3,Soil_Type4,Soil_Type5,Soil_Type6,Soil_Type7,Soil_Type8,Soil_Type9,Soil_Type10,...,Soil_Type31,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40
765,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5927,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14032,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6187,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3872,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5191,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13418,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5390,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7270,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

## <font color='red'>  In part a and part b, use (X_train, y_train) for training and (X_test, y_test) for testing your model. Don't use (X_test, y_test) during training or validation. </font>

## <font color='red'> In part c, use (X_train2, y_train2) for training and (X_test2, y_test2) for testing your model. X_train2 only contains categorical features. </font>

## Part a) you have four features to train a model. You will train linear regression and logistic regression models. You are free to use sklearn in this part

### a1) Train linear regression model with and without normalizing your data (X_train). Try to figure out whether there is overfitting or underfitting. (Remember linear regression is for regression tasks, you need to round the prediction to use it for classification tasks)

In [ ]:
# write your code and explanations into the blank lines after each question

### a2) Train logistic regression model with and without normalizing your data (X_train). Try to figure out whether there is overfitting or underfitting. Also plot confusion matrix and make a discussion on it. Compare the result with part a1.

### a3) You only have access to four features (as presented in X_train). What are you suggesting to improve the logistic regression's model accuracy? Implement the proposed approach and compare the result with part a2

## Part b) Again you have four features to train a model. You will train linear regression and logistic regression models. But, in this time, you need to develop your algorithm from scratch without using a library such as sklearn. (You can benefit from the codes available in ninova)

### b1) Implement linear regression and logistic regression from scratch and train models for your problem. Give comments in each line of your algorithms to explain what is this line for. Compare your result with a1, a2.

### b2) Try to figure out why the model accuracies of linear regression and logistic regression are too different by analyzing your code. And emphasize the main assumption and corresponding line in your code that lead to performance change.

## Part c) This time, you have a different dataset with categorical features to train a model (X_train2, y_train2). You need to write decision tree algorithm that we presented in the lecture from scratch without using any library.

### c1) Implement decision tree algorithm (with categorical features (C4.5)) from scratch and train a model for your problem. Give comments in each line of your algorithm to explain what is this line for. Train a model and present your result on test set. Try to figure out whether there is overfitting or underfitting. Plot feature importance for your model.

### c2) Benefiting from the decision tree algorithm, implement random forest  algorithm from scratch and train a model for your problem. Give comments in each line of your algorithm to explain what is this line for. Train a model and present your result on test set. Try to figure out whether there is overfitting or underfitting. Compare your result with c1. Plot feature importance for your model

### c3) Assume you can add an additional feature to (X_train2, X_test2) from the features in "df" dataframe in the third line of this notebook. All features are listed in df.columns. Define a procedure to choose the feature that will maximize your model's accuracy. Define a procedure to present this feature as a categorical variable and add this discretized single feature into (X_train2, X_test2). Then train models with the developed algorithms in c1 and c2. Compare the obtained results with the results in c1, c2