# UCK 358E – Introduction to Artificial Intelligence 
## Homework 2
## Deadline: May 12, 2024

#### Name: 
#### Student Number:

### In this homework, you will focus on predicting type of trees in a forest. There are 7 different tree types in the dataset, the label is named as "Cover_Type" and you will train models to predict the correct type for the test data. Each section below contains clear explanations about the tasks. It is not required to write a separate report for the homework. Make all of your explanations and discussions inside the Jupiter Notebook. Use the Notebook as your report. Be aware that If you deliver a Notebook containing only codes without explanation and discussion, you will lose majority of your points.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

## import any library that you will use

# Load Data (don't change anything in this part, just run it)

In [2]:
df = pd.read_csv("datasetHW.csv")
df.head()

,Id,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,...,Soil_Type32,Soil_Type33,Soil_Type34,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Cover_Type
0,1,2596,51,3,258,0,510,221,232,148,...,0,0,0,0,0,0,0,0,0,5
1,2,2590,56,2,212,-6,390,220,235,151,...,0,0,0,0,0,0,0,0,0,5
2,3,2804,139,9,268,65,3180,234,238,135,...,0,0,0,0,0,0,0,0,0,2
3,4,2785,155,18,242,118,3090,238,238,122,...,0,0,0,0,0,0,0,0,0,2
4,5,2595,45,2,153,-1,391,220,234,150,...,0,0,0,0,0,0,0,0,0,5

In [3]:
df.columns

Index(['Id', 'Elevation', 'Aspect', 'Slope',
       'Horizontal_Distance_To_Hydrology', 'Vertical_Distance_To_Hydrology',
       'Horizontal_Distance_To_Roadways', 'Hillshade_9am', 'Hillshade_Noon',
       'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points',
       'Wilderness_Area1', 'Wilderness_Area2', 'Wilderness_Area3',
       'Wilderness_Area4', 'Soil_Type1', 'Soil_Type2', 'Soil_Type3',
       'Soil_Type4', 'Soil_Type5', 'Soil_Type6', 'Soil_Type7', 'Soil_Type8',
       'Soil_Type9', 'Soil_Type10', 'Soil_Type11', 'Soil_Type12',
       'Soil_Type13', 'Soil_Type14', 'Soil_Type15', 'Soil_Type16',
       'Soil_Type17', 'Soil_Type18', 'Soil_Type19', 'Soil_Type20',
       'Soil_Type21', 'Soil_Type22', 'Soil_Type23', 'Soil_Type24',
       'Soil_Type25', 'Soil_Type26', 'Soil_Type27', 'Soil_Type28',
       'Soil_Type29', 'Soil_Type30', 'Soil_Type31', 'Soil_Type32',
       'Soil_Type33', 'Soil_Type34', 'Soil_Type35', 'Soil_Type36',
       'Soil_Type37', 'Soil_Type38', 'Soil_Type39', 'Soil_Type40',
       'Cover_Type'],
      dtype='object')

In [4]:
df_new = df[["Elevation", "Hillshade_9am", "Horizontal_Distance_To_Hydrology", "Horizontal_Distance_To_Fire_Points", "Cover_Type"]]
X = df_new.drop(["Cover_Type" ], axis=1)
y = df_new[["Cover_Type"]]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42) # don't change random state

In [5]:
X_train

,Elevation,Hillshade_9am,Horizontal_Distance_To_Hydrology,Horizontal_Distance_To_Fire_Points
765,2916,202,67,1507
5927,2356,247,210,1050
14032,2977,195,696,878
6187,2415,131,108,638
3872,2299,167,497,1159
...,...,...,...,...
5191,2189,254,0,525
13418,2317,229,0,560
5390,2962,237,95,470
860,2898,204,30,1552
7270,3374,229,192,1655

In [6]:
filter_col = [col for col in df if col.startswith('Soil_Type')]
filter_col.extend(["Elevation", "Hillshade_9am", "Horizontal_Distance_To_Hydrology", "Horizontal_Distance_To_Fire_Points"])
df2 = df.loc[(df['Cover_Type'] == 1) | (df['Cover_Type'] == 3) ]
X2 = df2[filter_col]
y2 = df2[["Cover_Type"]]

X_train2, X_test2, y_train2, y_test2 = train_test_split(X2, y2, test_size=0.3, random_state=42) # don't change random state

In [8]:
X_train2

,Soil_Type1,Soil_Type2,Soil_Type3,Soil_Type4,Soil_Type5,Soil_Type6,Soil_Type7,Soil_Type8,Soil_Type9,Soil_Type10,...,Soil_Type35,Soil_Type36,Soil_Type37,Soil_Type38,Soil_Type39,Soil_Type40,Elevation,Hillshade_9am,Horizontal_Distance_To_Hydrology,Horizontal_Distance_To_Fire_Points
2701,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2047,89,228,42
2056,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,3341,184,424,1809
7093,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2651,217,470,1124
5778,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3114,180,474,3206
10341,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3164,226,150,1262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12092,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,2081,244,175,488
1799,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3241,217,0,2012
11119,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2510,228,319,180
13509,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,2401,146,210,569
3346,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,3235,203,330,3503

In [9]:
y_train2

       Cover_Type
2701            3
2056            1
7093            3
5778            1
10341           1
...           ...
12092           3
1799            1
11119           3
13509           3
3346            1

[3024 rows x 1 columns]

## <font color='red'>  In part a and part b, use (X_train, y_train) for training and (X_test, y_test) for testing your model. Don't use (X_test, y_test) during training or validation. </font>

## <font color='red'> In part c, use (X_train2) for training and (X_test2, y_test2) for testing your model. X_train2 contains both continues and categorical features. </font>

## Part a) Train SVM model with the first training set (X_train). Try to figure out whether there is overfitting or underfitting. Define the required preprocesses and feature engineering approaches to obtain the best accuracy for the test set (X_test). Plot confusion matrix, present your results and discuss your findings. (You are free to use sklearn in this part)

In [ ]:
# write your code and explanations into the blank lines after each question

## Part b) Train NN models with the first training set (X_train). You will train NN models with different architectures.

### b1) Train a NN model with a small network and train another one using a bigger network that contains at least 3 hidden layers. Try to figure out whether there is overfitting or underfitting. Define the required preprocesses and feature engineering approaches to obtain the best accuracy with the second model for the test set (X_test). Plot confusion matrix, present your results and discuss your findings. (You are free to use keras in part b1, don't use sklearn for NN training)

### b2) Use the second architecture (which contains at least 3 hidden layers) and the preprocess that you defined in part b1, and train this neural network by developing your NN training algorithm from scratch without using any library. Compare your results with b1. (You can benefit from the codes available in ninova)

## Part c) This time, you have a different dataset with continues and categorical features (X_train2) to train unsupervised learning models. You need to train autoencoder and K-means, EM models.

### c1) Train an autoencoder with 2 neurons in the latent space and more that 2 layers in the encoder/decoder, train another autoencoder with same architecture except there is 3 neurons in the latent space. Evaluate the performance of your models, and try to improve it. (You are free to use keras in part c1, don't use sklearn for NN training.)

### c2) You will train separate models using the latent spaces in the first autoencoder and second autoencoder in part c1. Only use the neuron outputs in the latent space as your features, and implement K-means and EM algorithms to cluster the data. Evaluate the performance of trained clustering models by using test set labels in X_test2. Plot 2-dimensional and 3-dimensional figures for the latent layer outputs while assessing model performances, and extend your discussions based on these figures and true classes of the samples. In your figures, illustrate the true classes of the samples using different colours. (You are free to use sklearn in this part)